@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');
body{
    background-color: #F5F7F1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner';
    background-image: url(./images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
}

.container{
    
}

.page-1{
    /* opacity: .1; */
}

.hamburger,
.close-menu{
    display: none;
}

.navbar{
    display: flex;
    flex-direction: row;
    margin: 50px 70px;
}

.navItem{
    text-align: end;
    width: 90%;
}

.navItem a{
    margin-right: 30px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.inner-container{
    margin: 0 350px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    top:190px ;
}

.title,
.title-bio{
    text-align: center;
}

.mastercraft-logo{
    position: absolute;
    top: -30px;
    left: 330px;
}

.project-funding-btn{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.support-btn{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border-style: none;
    color: white;
    background-color: hsl(176, 50%, 47%);
    cursor: pointer;
}
.support-btn:hover{
    background-color: hsl(176, 72%, 28%);
}
.bookmark{
    display: flex;
    flex-direction: row;
    position:absolute;
    right: 150px;
    cursor: pointer;
}

.bookmark-btn{
    background-color:#F5F7F1;
    padding: 15px;
    padding-left: 30px;
    position: absolute;
    border-radius: 0 30px 30px 0;
    top: -15px;
}

.bookmark-btn:hover{
    color:hsl(176, 72%, 28%);
}

.bookMark-icon{
    position: absolute;
    height: 50px;
    z-index: 1;
    left:-30px;
    /* display: none; */
}


.count{
    position: relative;
    top: 200px;
    margin: 0 350px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.flex-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.donation,
.supporters{
    border-right: 1px solid;
}

.donation-count,
.supporters-count,
.days-count{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.donation-target,
.total-backers,
.days-left{
    color: hsl(0, 0%, 48%);
}

progress{
width: 100%;
height: 30px;
}

.about{
    position: relative;
    top: 210px;
    margin: 0 350px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.about-paragraph,
.bamboo-stand-paragraph,
.black-edition-stand-paragraph,
.mahogany-edition-paragraph,
.no-reward-paragraph{
    color: hsl(0, 0%, 48%);
    line-height: 30px;
    margin: 0;
}

.bamboo-stand,
.black-edition-stand{
    border: 1px solid;
    margin-bottom: 20px;
    border-color: hsl(0, 0%, 48%);
    padding: 25px;
    border-radius: 10px;
}

.mahogany-edition{
    border: 1px solid;
    margin-bottom: 20px;
    border-color: hsl(0, 0%, 48%);
    padding: 25px;
    border-radius: 10px;
    opacity: .5;
}

.bamboo-stand-title,
.black-edition-stand-title,
.mahogany-edition-title{
    display: flex;
}

.bamboo-pledge,
.black-edition-pledge,
.mahogany-edition-pledge{
    position: absolute;
    right: 80px;
    color: hsl(176, 50%, 47%);
}

.bamboo-stand-count,
.black-edition-stand-count,
.mahogany-edition-count{
    display: flex;
}

.dayRemaining{
    font-size: 30px;
}

.bamboo-stand-reward-btn,
.black-edition-stand-reward-btn{
    position: absolute;
    right: 80px;
    padding: 15px;
    border-radius:30px;
    border-style: none;
    color: white;
    background-color: hsl(176, 50%, 47%);
    cursor: pointer;
}

.bamboo-stand-reward-btn:hover,
.black-edition-stand-reward-btn:hover{
    background-color:hsl(176, 72%, 28%);
}

.mahogany-edition-reward-btn{
    position: absolute;
    right: 80px;
    padding: 15px;
    border-radius:30px;
    border-style: none;color: white;
    cursor: pointer;
    background-color: hsl(0, 0%, 48%);
}
.pledge-page{
    display: none;
    position: absolute;
    margin: 0 350px;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    top: 200px;
}

.support-container{
    /* display:none; */
}

.bamboo-stand-lineOne,
.no-reward-lineOne,
.black-edition-lineOne,
.mahogany-edition-lineOne{
   display: flex;
   width: 100%;
}

.no-reward-title strong:hover,
.bamboo-stand-title strong:hover,
.black-edition-title strong:hover{
    color: hsl(176, 50%, 47%);
    cursor: pointer;
}

.pledgePrice{
    margin-left: 50px;
}

.close-model{
    position: absolute;
    top: 50px;
    right: 70px;
    cursor: pointer;
}

.daysLeftBamboo{
    margin-left: 200px;
}

.daysLeftBlack{
    margin-left: 160px;
}

.daysLeftMahogany{
    margin-left: 110px;
}

.daysLeftBamboo,
.daysLeftBlack,
.daysLeftMahogany{
    font-size: 20px;
}

.no-reward-container,
.bamboo-stand-container,
.black-edition-container{
    border: 1px solid;
    margin-bottom: 20px;
    border-color: hsl(0, 0%, 48%);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.mahogany-edition-container{
    border: 1px solid;
    margin-bottom: 20px;
    border-color: hsl(0, 0%, 48%);
    padding: 25px;
    border-radius: 10px;
    opacity: .5;
}

.pledgeEnter-bamboo,
.pledgeEnter-black-edition{
    display: flex;
}

.pledgeAmountContainer{
    position: relative;
    left: 400px;
    top: 10px;
}

.pledgeAmount{
    width: 80px;
    height: 40px;
    border-radius:30px;
    border: 1px solid;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.continue-btn{
    width: 80px;
    height: 40px;
    border-style: none;
    border-radius: 30px;
    color: white;
    background-color: hsl(176, 50%, 47%);
    cursor: pointer;
}

.continue-btn:hover{
    background-color:hsl(176, 72%, 28%) ;
}

.support-container{
    display: none;
    position: absolute;
    margin: 0 450px;
    text-align: center;
    padding: 30px;
    line-height: 25px;
    background-color: white;
    top: 400px;
}

.gotIt{
    width: 80px;
    height: 40px;
    border-style: none;
    border-radius: 30px;
    color: white;
    background-color: hsl(176, 50%, 47%);
    cursor: pointer;
}

.gotIt:hover{
    background-color:hsl(176, 72%, 28%) ;
}